.box:nth-of-type(2n-1){
    background-color: slateblue;
}

.box:nth-of-type(2n){
    background-color: rgb(90, 167, 205);
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    box-sizing: border-box;

    display: inline-block;

    margin: 10px auto;
}

/* static */

#static div:nth-of-type(2n){
    position: static;
    top: 100px;
}

/* relative */

#relative div:nth-of-type(2){
    position: relative;
    top: 30px;
    left: 80px;
    /* bottom: 100px;
    right: 100px; */
}
#relative div:nth-of-type(1){
    position: relative;
    top: 16px;
    left: 146px;

    /* transform-origin: top; */
    /* transform: rotate(50deg); */
    transform: skew(0deg,-52deg) rotateY(76deg);
    /* transform: rotateY(77deg); */
    /* transform: rotateX(-20deg); */
    /* transform: rotateZ(deg); */

    /* bottom: 100px;
    right: 100px; */
}

#relative div:nth-of-type(4){
    position: relative;
    top: 15px;
    left: -66px;

    /* transform-origin: top; */
    /* transform: rotate(50deg); */
    transform: skew(0deg,-51deg) rotateY(76deg);
    /* transform: rotateY(77deg); */
    /* transform: rotateX(-20deg); */
    /* transform: rotateZ(deg); */

    /* bottom: 100px;
    right: 100px; */
}



/* absolute */

#absolute{
    position: relative;
}

#absolute div:nth-of-type(2n){
    position: absolute;
    top: 50px;
    left: 50px;
}

/* fixed */

#fixed div:nth-of-type(2n){
    position: fixed;
    top: 0;
    left: 300px;
}

/* Sticky */