@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
height: 100%;
}

body{

}


button{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
}

div{
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

button{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    margin: 10px;
    position: relative;
}

.button1{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.button1::after, .button1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background-color: black;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.button1:hover{
    transform: translate(-12px, -12px);
}
.button1:hover::after{
    transform: translate(6px, 6px);
}
.button1:hover::before{
    transform: translate(12px, 12px);
}


/* button 2 */

.button2{
    background-color: rgba(255, 255, 255, 0);
    border: 0em solid black;

    /* padding: 0.5em 0.9em; */
    transition: transform 0.25s ease-out;
}

.button2::after,
.button2::before{
    border: 3px solid black;
    content:  "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.button2:hover:after{
    transform: translate(-5px, -5px);
}
.button2:hover::before{
    transform: translate(5px, 5px);
}

/* .button2:hover{
    transform: translate(-10px , -10px);
} */