body{
    margin: 0px;
}
div{
    margin: 0%;
    padding: 0%;
}
#main{
    display: inline-block;
    margin: 0px 10%;
    background-color: lightcoral;
    width: 60%;
    height: 400px;
    border: 2px rgb(208, 43, 98) solid;
    padding: 0%;
}
#main > div{
    background-color: #75e192;
    border: 2px rgb(216, 40, 99) solid;
    display: inline-block;
    box-sizing: border-boxs;
    height: 25%;
}
#box1{
    width: 60%;
}
#box2{
    width: 38%;
}
